.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
.PDF
.Pdf
AuxData/corev4_072915_final.cpg
AuxData/corev4_072915_final.dbf
AuxData/corev4_072915_final.prj
AuxData/corev4_072915_final.sbn
AuxData/corev4_072915_final.sbx
AuxData/corev4_072915_final.shp
AuxData/corev4_072915_final.shp.xml
AuxData/corev4_072915_final.shx
.DS_store
Documents/sageCastManuscript_files/
