.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
.PDF
.Pdf
AuxData/corev4_072915_final.cpg
AuxData/corev4_072915_final.dbf
AuxData/corev4_072915_final.prj
AuxData/corev4_072915_final.sbn
AuxData/corev4_072915_final.sbx
AuxData/corev4_072915_final.shp
AuxData/corev4_072915_final.shp.xml
AuxData/corev4_072915_final.shx
AuxData/corev4_072915_final.qpj
AuxData/corev4_072915_original_pre20200304.qpj
AuxData/corev4_072915_original_pre20200304.cpg
AuxData/corev4_072915_original_pre20200304.dbf
AuxData/corev4_072915_original_pre20200304.prj
AuxData/corev4_072915_original_pre20200304.sbn
AuxData/corev4_072915_original_pre20200304.sbx
AuxData/corev4_072915_original_pre20200304.shp
AuxData/corev4_072915_original_pre20200304.shp.xml
AuxData/corev4_072915_original_pre20200304.shx

.DS_store
Documents/sageCastManuscript_files/
Documents/sageCastManuscript.pdf
Figures/SaltWellsSpatialForecasts.RDS
AuxData/tl_2019_us_state.cpg
AuxData/tl_2019_us_state.shp.ea.iso.xml
AuxData/tl_2019_us_state.dbf
AuxData/tl_2019_us_state.shp.iso.xml
AuxData/tl_2019_us_state.prj
AuxData/tl_2019_us_state.shx
AuxData/tl_2019_us_state.shp
